@forward 'whitepaper.scss';
@forward 'index.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'VPPixel-Simplified';
    src: url('/fonts/VPPixel-Simplified.otf');
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: 'VPPixel-Simplified';
    letter-spacing: 0.1em;
}

.text-shadow-white {
    text-shadow: rgb(255, 255, 255) 0px 0px 0.6vw;
}

.drop-shadow-dark-brown {
    filter: drop-shadow(0px 0px 0.4vw #63503a);
}

.drop-shadow-brown {
    filter: drop-shadow(0px 0px 0.7vw #e8d191);
}

.drop-shadow-red {
    filter: drop-shadow(0px 0px 0.4vw #4d0000);
}
