@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//db.onlinewebfonts.com/c/98e6dd769068c2091e7413443f0b0c5e?family=VPPixel-Simplified);

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: 'VPPixel-Simplified';
    letter-spacing: 0.1em;
}

.text-shadow-white {
    text-shadow: rgb(255, 255, 255) 0px 0px 12px;
}
