@forward 'whitepaper.scss';
@forward 'index.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'VPPixel-Simplified';
    src: url('/fonts/VPPixel-Simplified.otf');
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: 'VPPixel-Simplified';
    letter-spacing: 0.1em;
}

.p-inherit {
    padding: inherit;
}

.text-shadow-white {
    text-shadow: rgb(255, 255, 255) 0px 0px 1vh;
}

.text-shadow-title {
    text-shadow: rgb(255, 255, 255) 0px 0px 1vh;
    filter: drop-shadow(0px 0px 1vh #00d6dd);
}

.play-button {
    text-shadow: rgb(255, 255, 255) 0px 0px 1vh;
}

.whitelist-button {
    text-shadow: rgb(49, 49, 49) 0px 0px 0.2vw;
    filter: drop-shadow(0px 0px 1vh #ffe600);
}

.discord-button {
    filter: drop-shadow(0px 0px 1vh #0014c5);
}

.exclamation-mark {
    filter: drop-shadow(0px 0px 1vw rgb(252, 0, 0));
}

.twitter-button {
    filter: drop-shadow(0px 0px 1vh #00f3e7);
}

.drop-shadow-dark-brown {
    filter: drop-shadow(0px 0px 1vh #63503a);
}

.drop-shadow-arrow {
    filter: drop-shadow(0px 0px 1vh rgb(90, 48, 0));
}

.drop-shadow-brown {
    filter: drop-shadow(0px 0px 2vh #e8d191);
}

.drop-shadow-red {
    filter: drop-shadow(0px 0px 1vh #660000);
}

.drop-shadow-blue {
    filter: drop-shadow(0px 0px 1vh #00d6dd);
}

.drop-shadow-mark {
    filter: drop-shadow(0px 0px 1vh #ff00aa);
}

.text-bubble {
    filter: drop-shadow(0px 0px 1vh #c6fdff);
}

@keyframes bounce {
    0%,
    50% {
        transform: none;
    }
    80% {
        transform: none;
    }
    85% {
        transform: translateY(-6%);
    }
    90% {
        transform: none;
    }
    95% {
        transform: translateY(-6%);
    }
    100% {
        transform: none;
    }
}

.animate-bounce {
    animation: bounce 4s infinite;
    animation-timing-function: linear;
}
